body {
  text-align: center;
}

button {
  display: none;
  margin: 0 auto;
}
.panel {
  margin: 10% 20%;
}

.panel-body {
  padding: 5%;
  display: none;
}

.panel-title:hover {
  cursor: pointer
}

.hide {
  display: none;
}

.show {
  display: auto;
}
